Repository alexanderankin/testcontainers-python, changes with the owners that CODEOWNERS names for each.
All owners: @nshine, @pffijt, @yakimka, @nivm, @daTokenizer, @tillahoffmann, @ash1425, @timbmg, @ImFlog, @maltehedderich, @dabrign, @eastlondoner, @KerstenBreuer

CODEOWNERS:

/modules/arangodb @nshine
/modules/azurite @pffijt
/modules/clickhouse @yakimka
# /compose
# /core
/modules/elasticsearch @nivm @daTokenizer
/modules/google @tillahoffmann
/modules/kafka @ash1425
/modules/keycloak @timbmg
/modules/localstack @ImFlog
/modules/minio @maltehedderich
/modules/mongodb @dabrign
# /modules/mssql
# /modules/mysql
/modules/neo4j @eastlondoner
# /modules/nginx
/modules/opensearch @maltehedderich
# /modules/oracle
# /modules/postgres
/modules/rabbitmq @KerstenBreuer
/modules/redis @daTokenizer
# /modules/selenium

refactor(influxdb): split the code for InfluxDB 1.x and 2.x in separated modules; enhance the automated test; declared component dependencies
  modules/influxdb/testcontainers/influxdb.py
  modules/influxdb/testcontainers/influxdb1/__init__.py
  modules/influxdb/testcontainers/influxdb2/__init__.py
  modules/influxdb/tests/test_influxdb.py
  poetry.lock
  pyproject.toml
Owners: none

refactor(influxdb): remove unused imports, order imports
  modules/influxdb/tests/test_influxdb.py
Owners: none

tests(influxdb): replace use of dateutil parser by datetime fromisoformat
  modules/influxdb/tests/test_influxdb.py
Owners: none

sphinx and pypi rst are incompatible
  README.md
  SPHINX_README.rst
  conf.py
  pyproject.toml
Owners: none

fix docs, doctests
  SPHINX_README.rst
  conf.py
  modules/elasticsearch/testcontainers/elasticsearch/__init__.py
Owners: @nivm, @daTokenizer

if root_doc in sphinx is not index, there is no index.html
  conf.py
  index.rst
Owners: none

fix at least some tests on windows, see #415
  core/testcontainers/core/container.py
Owners: none

first pass
  .github/settings.yaml
Owners: none

slight adjustments
  .github/settings.yaml
Owners: none

linting
  modules/google/testcontainers/google/__init__.py
  modules/google/testcontainers/google/bigquery.py
  modules/google/tests/test_bigquery.py
Owners: @tillahoffmann

fix a test
  modules/influxdb/tests/test_influxdb.py
Owners: none

we add titles to README.rst now
  modules/influxdb/README.rst
Owners: none

tests(influxdb): replace use of dateutil parser by datetime fromisoformat
  modules/influxdb/tests/test_influxdb.py
Owners: none

refactor(influxdb): remove unused imports, order imports
  modules/influxdb/tests/test_influxdb.py
Owners: none
